# KOSPI는 다른 차트의 변동성과 어떤 영향이 있을까?

In [13]:
# !pip install finance-datareader

In [2]:
import FinanceDataReader as fdr

In [3]:
kospi = fdr.DataReader('KS11')
kospi["Change"] = kospi["Change"] * 100
kospi.drop(["Open", "High", "Low", "Close", "Volume", "UpDown", "Comp", "Amount", "MarCap"], axis=1, inplace=True)

In [4]:
kospi.head(1)

            Change
Date
2001-06-11   -2.18

In [5]:
sp500 = fdr.DataReader('S&P500', "2001-06-08")
sp500["Change"] = round(sp500["Adj Close"].pct_change() * 100, 2)
sp500.drop(["Open", "High", "Low", "Close", "Adj Close", "Volume"], axis=1, inplace=True)
sp500.drop("2001-06-08", axis=0, inplace=True)

In [6]:
sp500.head(1)

            Change
Date
2001-06-11   -0.84

In [7]:
japan = fdr.DataReader('N225', "2001-06-08")
japan["Change"] = round(japan["Adj Close"].pct_change() * 100, 2)
japan.drop(["Open", "High", "Low", "Close", "Adj Close", "Volume"], axis=1, inplace=True)
japan.drop("2001-06-08", axis=0, inplace=True)

In [8]:
japan.head(1)

            Change
Date
2001-06-11   -1.52

In [9]:
dollar = fdr.DataReader('USD/KRW', "2001-06-08")
dollar["Change"] = round(dollar["Adj Close"].pct_change() * 100, 2)
dollar.drop(["Open", "High", "Low", "Close", "Adj Close", "Volume"], axis=1, inplace=True)

In [10]:
dollar.head(1)

            Change
Date
2003-12-01     NaN

In [14]:
us10 = fdr.DataReader('US10YT', "2001-06-08")
us10["Change"] = round(us10["Adj Close"].pct_change() * 100, 2)
us10.drop(["Open", "High", "Low", "Close", "Adj Close", "Volume"], axis=1, inplace=True)
us10.drop("2001-06-08", axis=0, inplace=True)
us10.drop("2001-06-10", axis=0, inplace=True)

In [15]:
us10.head(1)

            Change
Date
2001-06-11   -0.86

In [24]:
nasdaq = fdr.DataReader("IXIC", "2001-06-08")
nasdaq["Change"] = round(nasdaq["Adj Close"].pct_change() * 100, 2)
nasdaq.drop(["Open", "High", "Low", "Close", "Adj Close", "Volume"], axis=1, inplace=True)
nasdaq.drop("2001-06-08", axis=0, inplace=True)

In [25]:
nasdaq

            Change
Date
2001-06-11   -2.00
2001-06-12   -0.04
2001-06-13   -2.23
2001-06-14   -3.66
2001-06-15   -0.77
...            ...
2024-01-17   -0.59
2024-01-18    1.35
2024-01-19    1.70
2024-01-22    0.32
2024-01-23    0.43

[5690 rows x 1 columns]